= render partial: "shared/header" 
= render partial: "welcome/shared/top" 
= render partial: "welcome/shared/devices" 
= render partial: "welcome/shared/compatibility" 
= render partial: "welcome/shared/questions" 
= render partial: "welcome/shared/remote" 
= render partial: "shared/footer" 