= render partial: "shared/header" 
= render partial: "shared/devices" 
= render partial: "shared/compatibility" 
= render partial: "shared/questions" 
= render partial: "shared/remote" 
= render partial: "shared/footer" 