@font-face {
	font-family: 'RobotoCondensedLight';
	font-weight: normal;
	font-style: normal;
	src: font-url('RobotoCondensedLight.eot');
	src: font-url('RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
			 font-url('RobotoCondensedLight.woff') format('woff'),
			 font-url('RobotoCondensedLight.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoRegular';
	font-weight: normal;
	font-style: normal;
	src: font-url('RobotoRegular.eot');
	src: font-url('RobotoRegular.eot?#iefix') format('embedded-opentype'),
			 font-url('RobotoRegular.woff') format('woff'),
			 font-url('RobotoRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoLight';
	font-weight: normal;
	font-style: normal;
	src: font-url('RobotoLight.eot');
	src: font-url('RobotoLight.eot?#iefix') format('embedded-opentype'),
			 font-url('RobotoLight.woff') format('woff'),
			 font-url('RobotoLight.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoMedium';
	font-weight: normal;
	font-style: normal;
	src: font-url('RobotoMedium.eot');
	src: font-url('RobotoMedium.eot?#iefix') format('embedded-opentype'),
			 font-url('RobotoMedium.woff') format('woff'),
			 font-url('RobotoMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoBold';
	font-weight: normal;
	font-style: normal;
	src: font-url('RobotoBold.eot');
	src: font-url('RobotoBold.eot?#iefix') format('embedded-opentype'),
			 font-url('RobotoBold.woff') format('woff'),
			 font-url('RobotoBold.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoCondensedRegular';
	font-weight: normal;
	font-style: normal;
	src: font-url('RobotoCondensedRegular.eot');
	src: font-url('RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
			 font-url('RobotoCondensedRegular.woff') format('woff'),
			 font-url('RobotoCondensedRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoCondensedBold';
	font-weight: normal;
	font-style: normal;
	src: font-url('RobotoCondensedBold.eot');
	src: font-url('RobotoCondensedBold.eot?#iefix') format('embedded-opentype'),
			 font-url('RobotoCondensedBold.woff') format('woff'),
			 font-url('RobotoCondensedBold.ttf') format('truetype');
}

